

/** {*/
/*    font-family: 'Roboto', sans-serif;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    background: #28282f;
}

div, input {
    margin-bottom: 30px;
    color: white;
}

/*h1 {*/
/*    color: white;*/
/*    font-weight: 700;*/
/*    font-size: 45px;*/
/*    text-align: center;*/
/*    margin-top: 150px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*p {*/
/*    text-align: center;*/
/*    color: #d7d7d7;*/
/*    font-size: 18px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-bottom: 40px;*/
/*    width: 700px;*/
/*    font-weight: 500;*/
/*    line-height: 26px;*/
/*}*/

/*input {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    outline:none;*/
/*}*/

/*.input-in {*/
/*    padding-left: 30px;*/
/*    color: #333333;*/
/*    font-size: 20px;*/
/*    font-weight: 500;*/
/*    height: 70px;*/
/*    width: 700px;*/
/*    margin-bottom: 15px;*/
/*    border: solid 0;*/
/*    border-radius: 10px;*/
/*}*/

/*input::-webkit-input-placeholder {*/
/*    color: #666;*/
/*}*/

/*.button {*/
/*    outline:none;*/
/*    border-radius: 10px;*/
/*    border: solid 0;*/
/*    display: block;*/
/*    height: 70px;*/
/*    width: 700px;*/
/*    margin: 0 auto;*/
/*    color: white;*/
/*    font-size: 20px;*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/
/*    background: #29d786;*/
/*}*/

/*.button:hover {*/
/*    cursor:pointer;*/
/*    background: #2dea92;*/
/*}*/

/*.button:active {*/
/*    cursor:pointer;*/
/*    background: #29d786;*/
/*}*/